.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: black;
    font-size: 14px;
}
.label{
    margin: 15px 0 0 0;
}
.select {
    padding: 10px;
    margin-top: 15px;
}