.headerGen {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.header {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.username {
    line-height: 0;
    padding: 10px 0;
}